:root {
  --white: rgba(250, 244, 252, 0.934);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

body {
  height: 100%;
  margin: 0;
}

.home-page-main {
  padding: 5rem;
  width: 100vw;
  height: 100vh;

  color: var(--white);
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  font-style: italic;

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(
    157deg,
    rgba(98, 0, 230, 1) 0%,
    rgba(65, 28, 85, 1) 59%,
    rgba(0, 0, 0, 1) 99%
  );
}

.challenge-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.challenge-list > li::before {
  position: absolute;
  transition: 0.1s ease-in-out;
  transform: translateX(-4rem);
  content: "👉";
}

.challenge-list > li {
  transition: 0.25s ease-in-out;
}

.challenge-list > li:not(:last-child) {
  margin-bottom: 1.5rem;
}

.challenge-list > li:hover {
  color: turquoise;
  text-decoration: underline;
  transform: translateX(1rem);
}
.challenge-list > li:hover::before {
  position: absolute;
  transform: translateX(-2.5rem);
}

/* Navbar styleing */
a {
  color: inherit;
  text-decoration: none; /* no underline */
}

.github-link > img {
  width: 2rem;
  transition: 0.1s ease-in-out;
}

.github-link > img:hover {
  transform: rotate(25deg);
}

.navbar {
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: 2rem;
  background-color: var(--white);
  color: #333;
}

.navbar h1 {
  font-weight: 400;
  font-style: italic;
}

@media screen and (max-width: 575px) {
  .home-page-main {
    font-size: 1.5rem;
  }

  .navbar {
    font-size: 1.5rem;
  }

  .frontend-mentor-logo {
    width: 8rem;
  }

  .github-link {
    display: none;
  }
}

@media screen and (max-width: 490px) {
  .home-page-main {
    padding: 2.5rem;
    font-size: 1.25rem;
  }

  .navbar {
    font-size: 1rem;
  }
  .frontend-mentor-logo {
    width: 6rem;
  }

  .github-link {
    display: none;
  }
}

@media screen and (max-width: 312px) {
  .home-page-main {
    padding: 2rem;
    font-size: 1rem;
  }

  .navbar {
    font-size: 0.8rem;
  }
  .frontend-mentor-logo {
    width: 4rem;
  }
}

@media screen and (max-width: 241px) {
  .home-page-main {
    padding: 1.5rem;
    font-size: 0.8rem;
  }

  .navbar {
    font-size: 0.5rem;
  }
  .frontend-mentor-logo {
    width: 3rem;
  }
}

@media screen and (max-width: 171px) {
  .navbar {
    font-size: 0.3rem;
  }
  .frontend-mentor-logo {
    width: 2rem;
  }
}
